/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define SYM 1
#define FUN 2

&lt {
    tapping-term-ms = <180>;
    flavor = "tap-preferred";
};

/ {
    combos {
        compatible = "zmk,combos";

        comboESC {
            bindings = <&kp ESCAPE>;
            key-positions = <19 20>;
        };

        comboGUI {
            bindings = <&kp LEFT_WIN>;
            key-positions = <15 16>;
        };

        comboSKCtrl {
            bindings = <&sk LCTRL>;
            key-positions = <14 15>;
        };

        comboSKAlt {
            bindings = <&sk RALT>;
            key-positions = <20 21>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp A  &kp Q  &kp W  &kp E  &kp R  &kp T                        &kp Y  &kp U  &kp I  &kp O  &kp P                  &kp A
&kp A  &kp A  &kp S  &kp D  &kp F  &kp G                        &kp H  &kp J  &kp K  &kp L  &mt RIGHT_SHIFT ENTER  &kp A
&kp A  &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N0  &kp NUMBER_1  &kp B  &kp N  &kp M  &kp A  &kp B                  &kp A
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A   &kp A         &kp A  &kp A  &kp A  &kp A  &kp A                  &kp A
            >;
        };
    };
};
